.users {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style: none;
  color: white;
}

.users li {
  margin-bottom: 30px;
  width: 800px;
  background-color: rgb(55, 55, 55);
  border-radius: 10px;
  display: flex;
  overflow: hidden;
}

.information {
   background-color: rgb(104, 104, 104);
   padding: 15px;
   color: white;
}

.users img {
  height: 100%;
  width: 200px;
}

.info {
  flex: auto;
  margin: 0 30px;
}

.info h1 {
  text-align: left;
}

.usersImage {
  display: flex;
  align-items: center;
}

.description {
  text-align: justify;
}

.users .btn {
  text-align: right;
  margin: 20px;
}

.users .btn button {
  padding: 10px 15px;
  background-color: rgb(255, 196, 94);
  border: none;
  border-radius: 6px;
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.564);
}

.users .btn button:hover {
  background-color: rgb(255, 187, 70);
}
